
<!-- todo: add option to use full_title e.g. event.full_title
  -->

<td class='game-round'>
  (<%= link_to game.round.event.title, short_event_path( game.round.event ) %>
   <%= "/ #{game.round.title}" %>
   <%= "/ #{game.group.title}" if game.group.present? %>)
</td>
