<!-- paras: game
  NB: v2 uses two tds (table cells)
  -->

<!-- todo/fix:
  check for :link options (:db|:live)
  -->

<td class='game-team2'>
  <!-- todo: move code to model ?? -->
  <% if game.team2.national? %>
    <%= image_tag "flags/32x32/#{game.team2.country.key}.png" %>
  <% end %>
  
  <span class=''>
    <%= link_to game.team2.title, short_team_path( game.team2 ) %>
  </span>
  <%= "(#{game.team2.title2})" if game.team2.title2.present? %>
</td>