<h3><%= Event.count %> Events</h3>

<table>
<% @events.each do |event| %> 
  <tr>
     <td class='event-key'><%= event.key %></td> 
     <td><%= link_to event.title, event_path( event ) %></td>
  </tr>
<% end %><!-- events.each -->
</table>

