
<h3><%= @logs_count %> Logs</h3>

<!-- todo:
    add filter for FATAL,ERROR,WARN,etc.
    add log count per kind? (e.g. 20 errors, 5 warns, etc.)
  -->

<table>
 <% @logs.each do |log| %>
  <tr>
    <td>(<%= log.id %>)</td>
    <td><b>[<%= log.kind %>]</b></td>
    <td><%= log.msg %></td>
  </tr>
 <% end %>
</table>

